<div>
  <!--  <ul id="listaProductos">
    <li
      *ngFor="
        let producto of productos;
        let i = index;
        let isFirst = first;
        let isLast = last;
        let isOdd = odd;
        let isEven = even
      "
      id="itemProducto"
      class="item"
      [ngClass]="{ itemPar: isEven, itemImpar: isOdd }"
    >
      {{ i }}-{{ producto.nombre }}---{{ isFirst }}---{{ isLast }}---{{
        isOdd
      }}---{{ isEven }}
    </li>
  </ul> -->
  <table class="tableStyle">
    <thead>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <tr
        class="item"
        *ngFor="let producto of productos; let isOdd = odd; let isEven = even"
        [ngClass]="{ itemPar: isEven, itemImpar: isOdd }"
      >
        <td id="itemProducto">{{ producto.nombre }}</td>
        <td id="itemProducto">{{ producto.descripcion }}</td>
        <td id="itemProducto">{{ producto.precio }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-detail (onNuevoProducto)="agregarMasterProducto($event)"></app-detail>
<!-- publicador/suscriptor-->
